VITE_API_BASE_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyAiDwy5n1TgjVpnpQKxwkvhUzU1Bs-n64Y
VITE_FIREBASE_AUTH_DOMAIN=chulbul-play-2b221.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chulbul-play-2b221
VITE_FIREBASE_STORAGE_BUCKET=chulbul-play-2b221.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=717972220827
VITE_FIREBASE_APP_ID=1:717972220827:web:f23429198d2236ad398f3e
VITE_FIREBASE_MEASUREMENT_ID=G-ZN8ZEVK808
